#hezi_biaotis {
    height: 41px;
    width: 620px;
    background-image: url(../../images/zhuce.images/reg-bg.png);
    background-repeat: no-repeat;
    background-position: -162px -153px;
    margin-bottom: 37px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
#logins {
    width: 90px;
    height: 29px;
    background: url(../../images/zhuce.images/btn-login.png) no-repeat;
    border: none;
}