#zhuce {
    height: 655px;

    #zhuce_hezi {
        width: 980px;
        height: 635px;
        border: 1px solid #C6E6F3;
        margin: 10px auto;

        #hezi_neiron {
            width: 671px;
            height: 533px;
            margin: 0 auto;

            #hezi_biaoti {
                height: 41px;
                width: 620px;
                background-image: url(../../images/zhuce.images/reg-bg.png);
                background-repeat: no-repeat;
                background-position: -162px -69px;
                margin-bottom: 37px;
                margin-top: 40px;
                margin-right: auto;
                margin-left: auto;

            }

            .hezi_hans {
                width: 550px;
                height: 55px;
                text-align: center;
                color: #666;

                .form_lis {
                    width: 200px;
                    height: 25px;
                    float: left;
                    text-align: right;
                    font-size: 12px;
                    line-height: 25px;
                    color: #666;
                }

                .form_input {
                    width: 350px;
                    height: 25px;
                    float: right;
                    text-align: left;
                  
                    .kuans {
                        cursor: text;
                        width: 200px;
                        height: 20px;
                    }

                    #yanzhenma {
                        width: 50px;
                        height: 20px;
                        cursor: text;
                    }

                }

                #xieyi {
                    font-size: 12px;

                    input {
                        vertical-align: middle;
                    }

                    span {
                        color: #0080FF;
                    }

                }

                .tishi {
                    width: 550px;
                    height: 20px;
                    float: left;
                    text-indent: 200px;
                    font-size: 12px;
                }

                #tijiao {
                    width: 90px;
                    height: 29px;
                    background: url(../../images/zhuce.images/btn-reg.png) no-repeat;
                    border: none;
                }


            }

            .last_tis {
                font-size: 12px;
            }
        }
    }
}